﻿<!DOCTYPE html>
<html lang="fr-fr" ng-app="contrattpe">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <meta name="viewport" content="user-scalable=no, initial-scale=1,
        maximum-scale=1, minimum-scale=1, target-densitydpi=device-dpi" />
    <!--<link href="css/angular-material.min.css" rel="stylesheet" />-->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <link href="css/activite.css" rel="stylesheet" />
    <link href="css/offre.css" rel="stylesheet" />
    <link href="css/index.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <link href="css/layout.css" rel="stylesheet" />
    <link href="css/animate.css" rel="stylesheet" />
    <!--<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">-->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,300italic,300,100italic,100,700italic,400italic,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
</head>
<body style="padding-top:25px;margin-right:-5px;" ng-controller="menucontroller">
    <header> 
        <div >&nbsp</div>
        <aside class="sidebar">
            <img src="images/sidebar_logo.png" alt="" class="sidebar_logo" />
            <div class="sidebar_hello" ng-hide="isCalendarHidden">
                <p class="sidebar_hello">Salut <strong>Dave</strong>, voici vos missions pour la journée !</p>
                <img src="images/sidebar_calendar.png" alt="" class="sidebar_agenda" />
            </div>
            <div class="sidebar_nav" ng-show="isCalendarHidden">
                <p class="sidebar_name">{{name}}</p>
                <ul class="sidebar_list">
                    <li ng-class="{'sidebar_list_item': isActiviteCliquable, 'sidebar_list_item disable' : isActiviteDisabled, 'sidebar_list_item current' : isActiviteCurrent }" ng-click="etapeActivite()">Activité</li>
                    <li ng-class="{'sidebar_list_item': isDetailCliquable, 'sidebar_list_item disable' : isDetailDisabled, 'sidebar_list_item current' : isDetailCurrent }" ng-click="etapeDetail()">Détails</li>
                    <li ng-class="{'sidebar_list_item': isOffreCliquable, 'sidebar_list_item disable' : isOffreDisabled, 'sidebar_list_item current' : isOffreCurrent }" ng-click="etapeOffre()">Offre</li>
                    <!--li ng-class="{'sidebar_list_item': isFinCliquable, 'sidebar_list_item disable' : isFinDisabled, 'sidebar_list_item current' : isFinCurrent }">Fin</!li -->
                </ul>
            </div>
            <footer class="sidebar_home_footer" ng-hide="isCalendarHidden">
                <ul>
                    <li class="sidebar_footer_item colored">
                        <img src="images/sidebar_add.png" alt="" class="sidebar_footer_logo" />
                        <span>Ajouter mission</span>
                    </li>

                    <li class="sidebar_footer_item">
                        <img src="images/sidebar_settings.png" alt="" class="sidebar_footer_logo" />
                        <span>Réglages</span>
                    </li>
                </ul>

            </footer>
            <footer class="sidebar_nav_footer" ng-show="isCalendarHidden"  ng-click="basculeAccueil() " > 
                <ul>
                    <li class="sidebar_footer_item">
                        <img src="images/sidebar_cancel.png" alt="" class="sidebar_footer_logo" />
                        <span>Annuler</span>
                    </li>
                </ul>

            </footer>

        </aside>
      
    </header>
    <main style="overflow:auto" oncontextmenu="return false" ondragstart="return false" 
onselectstart="return false">
        <div ng-view style="width:100%;"></div>

    
         	<!-- Contract -->

	<style>
	.contract {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  overflow: scroll; }
  .contract_item {
    display: inline-block;
    margin-top: 10px;
    width: 90%; }
  .contract_controls {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 0;
    text-align: center; }
    .contract_controls_item {
      display: inline-block;
      width: 50%;
      padding: 30px 0;
      text-transform: uppercase;
      font-family: "Lato";
      font-weight: 900;
      font-size: 10pt;
      letter-spacing: 3px;
      background: #192a36;
      color: white; }
      .contract_controls_item:last-child {
        background: #0f87c5; }

    </style>


        <div class="contract" ng-hide="isContratHidden" style="background-color:black; z-index: 99; display: block; position: absolute; left: 0pt; top: 0pt; width: 100%; height: 100%;" id="popup">
            <img src="images/contract.jpg" alt="" class="contract_item">

            <div class="contract_controls">
                <span class="contract_controls_item" ng-click="quitContrat()">Abandonner</span>
                <span class="contract_controls_item" ng-click="quitContrat()">J'ai lu et j'accepte</span>
            </div>
        </div>
</main>
    <!--<footer layout layout-align="space-between center" layout-padding></footer>-->
    <!--<script src="libs/angular.min.js"></script>-->
    <!--<script src="libs/angular-locale_fr-fr.js"></script>-->
    <!--<script src="libs/angular-route.min.js"></script>-->
    <script src="libs/angular.min.js"></script>
    <script src="libs/angular-route.min.js"></script>
    <script src="libs/angular-animate.min.js"></script>
    <script src="libs/angular-aria.min.js"></script>
    <script src="libs/angular-messages.min.js"></script>
    <script src="libs/jquery.js"></script>

    <!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>-->
    <!--<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>-->
    <!--<script src="https://code.jquery.com/jquery-1.11.3.js"></script>-->
    <script src="libs/angular-material.min.js"></script>
    <script src="libs/jquery.animatecss.min.js"></script>
    <script src="libs/TweenMax.min.js"></script>
    <!--<script src="libs/angular-aria.min.js"></script>
    <script src="libs/angular-animate.min.js"></script>-->
    <!--<script src="libs/angular-material.min.js"></script>-->
    <script src="scripts/app.js"></script>
    <script src="scripts/menucontroller.js"></script>
    <script src="scripts/controllers/accueilcontroller.js"></script>
    <script src="scripts/controllers/activitecontroller.js"></script>
    <script src="scripts/controllers/detailcontroller.js"></script>
    <script src="scripts/controllers/offrecontroller.js"></script>
    <!--<script src="scripts/appBundle.js"></script>-->
    <script src="scripts/platformOverrides.js"></script>

    <!-- Référence Cordova ajoutée à votre application une fois générée. -->
    <script src="cordova.js"></script>
    <script src="scripts/platformOverrides.js"></script>
    <script src="scripts/index.js"></script>
</body>
</html>