﻿
.activites {
    /*padding-left: 280px;*/
    background: #f4f4f4;
    flex:1;
    height:742px;
}

    .activites ul {
        width: 100%;
        font-size: 0;
    }

    /*.activites {
    background: #f4f4f4;
    height: 100%;
}*/


.activites_item {
    width: 25%;
    border-bottom: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    background: white;
}

    .activites_item img {
        display: inline-block;
        width: 100px;
    }

    .activites_item span {
        font-size: 12pt;
        color: #171c1e;
        margin: 20px 0 0 0;
        display: inline-block;
        width: 100%;
        font-family: 'Lato';
    }



.activites_item {
    width: 25%;
    border-bottom: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    background: white;
}

    .activites_item img {
        display: inline-block;
        width: 100px;
    }

    .activites_item span {
        font-size: 12pt;
        color: #171c1e;
        margin: 20px 0 0 0;
        display: inline-block;
        width: 100%;
        font-family: 'Lato';
    }
