﻿body {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    overflow:hidden;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

md-whiteframe {
    background: #fff;
}

.invisible {
    visibility: hidden;
}

.none{
    display:none!important;
}

.readonlyinput {
    text-align: right;
    width: 110px;
    font-size: 18px !important;
}

.textvalue{
    position:relative;
    
    width:110px;
    height:50px;
    line-height:50px;
}

.textvalue > input{
    position:absolute;
    margin:auto;
    top:25%;
}

/*.lockablebutton > div{
    position:relative;
}

.lockablebutton > div > md-icon:first-child{
    position:absolute;
    top:20px;
}*/

input {
    border: 1px solid transparent;
    border-bottom: 1px solid #000;
    text-align: right;
    width: 110px;
    font-size: 18px !important;
}

/* Table */
.table {
    border-collapse: collapse !important;
}

    .table td,
    .table th {
        padding: 3px;
    }

.table-bordered th,
.table-bordered td {
    border: 1px solid #ddd !important;
}

.table-bordered th {
    border-bottom: 2px solid #ddd !important;
}

.table tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.table-bordered td {
    text-align: right;
}

.table tr.amoFranchise td {
    font-weight:bold;
}


.stat{
    background:transparent!important;
    background-color:transparent!important;
    position:absolute;
    z-index:5;
    top:0;
    padding:20px;
}

.statbarre {
    height: 100%;
    background-color: #aae4f9;
    z-index: 0;
    position: absolute;
    top: 0;
    /*filter: alpha(opacity=50);*/
    opacity: 0.70;
    padding: 0px !important;
}



.stat.ng-hide {
  transition:0.5s linear all;
  opacity:0;
}

.titre{
    font-family: "Montserrat";
      font-size: 17pt;
      display: block;
      font-weight: 900;
      color: #171c1e;
      line-height: 1.5;
}

.complement{
    font-family: 'Lato';
      text-transform: uppercase;
      color: rgba(23, 28, 30, 0.4);
      font-size: 11pt;
      line-height: 1.5;
      letter-spacing: 1px;
}

.heure{
    font-family: Baskerville;
    font-size:60px;
    font-style:italic;
    color:#3b464a;
    opacity:0.5;
    font-weight:bold;
}

@font-face{
    font-family:'Baskerville';
    src:url("../../FONT/Beskerville.ttc");
}

.details{
     background:#f4f4f4!important;
     color:black;
}

md-list-item .md-no-style
{
    padding:0px!important;
}


.detailcontent{
    overflow:hidden;
}

.titrerubrique{
    font-family: Lato;
    font-size:22px;
    color:#000000;
    padding:15px;
   
}

.valueslider{

    border:0px;
}


.home {
  padding-left: 5px;
  background: #f4f4f4;
  height: 100%; }
  .home_item {
    width: 100%;
    background: white;
    border-bottom: 1px solid #dbdbdb;
    position: relative;
    padding: 25px 30px;
    overflow: hidden; }
    .home_item.done::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.1);
      z-index: 1; }
    .home_item_title {
      font-family: "Montserrat";
      font-size: 17pt;
      display: block;
      font-weight: 900;
      color: #171c1e;
      line-height: 1.5; }
    .home_item_sub {
      font-family: 'Lato';
      text-transform: uppercase;
      color: rgba(23, 28, 30, 0.4);
      font-size: 11pt;
      line-height: 1.5;
      letter-spacing: 1px; }
    .home_item_time {
      position: absolute;
      font-family: 'Beskerville';
      font-size: 70pt;
      color: #f4f4f4;
      font-weight: 700;
      font-style: italic;
      text-align: right;
      right: 20px;
      bottom: -23px; }