﻿html, body {
    height:100%;
    padding:0px;
    margin:0px;
    
}
*{
    user-select: none;
    touch-callout: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
}
body{
    display:flex;
}

main{
    display:flex;
    flex:1;
}
header{
    margin-left:-5px;
    background:#fff;
    flex:0 0 250px;
    display:flex;
}
