﻿.headerimg {
    background-size: 1024px 312px;
    background-image: url(../images/header.png);
    background-repeat: no-repeat;
    height: 312px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.offretext {
    width: 60%;
    color: white;
}

.offreprix {
    width: 40%;
    padding-top: 20px;
    padding-right: 10px;
    color: white;
    text-align: right;
}
