﻿
* {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    font-weight: inherit;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

html, body, main {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    counter-reset: li;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar {
    width: 280px;
    flex:1;
    position: relative;
    background: #192a36;
    padding: 0;
    margin:0px;
    text-align: center;
}

.sidebar_logo {
    display: inline-block;
    margin-top: 44px;
    width: 140px;
}

.sidebar_hello {
    color: white;
    font-family: "Lato";
    font-weight: 300;
    font-size: 13pt;
    text-align: left;
    margin: 25px 0 30px 0;
    line-height: 1.5;
    padding : 0 20px;
}

.sidebar_hello strong {
    font-weight: bold;
}

.sidebar_home_footer, .sidebar_nav_footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.sidebar_footer_item {
    width: 100%;
    background: #0f87c5;
    padding: 19px 0 19px 12px;
    text-align: left;
}

    .sidebar_footer_item img {
        display: inline-block;
        vertical-align: middle;
        margin: 0 15px 0 5px;
        width: 25px;
    }

    .sidebar_footer_item span {
        color: white;
        text-transform: uppercase;
        font-family: "Lato";
        font-weight: 900;
        font-size: 10pt;
        letter-spacing: 3px;
        display: inline-block;
        vertical-align: middle;
    }

.sidebar_name {
    font-family: 'Gotham';
    color: white;
    font-size: 12pt;
    text-align: center;
    margin: 25px 0 30px 0;
    line-height: 1.5;
}

.sidebar_list {
    width: 100%;
}

    .sidebar_list li {
        background: #1e3240;
        border-bottom: 1px solid #090f13;
        color: rgba(255, 255, 255, 0.8);
        width: 100%;
        padding: 22px 0 22px 12px;
        overflow: hidden;
        position: relative;
        text-align: left;
        padding-left: 100px;
        font-weight: 900;
        font-family: "Lato";
        font-size: 10pt;
        letter-spacing: 3px;
        text-transform: uppercase;
    }

        .sidebar_list li:before {
            font-family: 'Baskerville';
            color: rgba(255, 255, 255, 0.8);
            font-size: 67pt;
            position: absolute;
            left: 30px;
            font-weight: 900;
            font-style: italic;
            bottom: 1px;
            line-height: 50px;
            counter-increment: li;
            content: counter(li);
        }

        .sidebar_list li.current {
            background: #0f87c5;
            color: white;
            border-bottom-color: #0b6796;
        }

            .sidebar_list li.current:before {
                color: white;
            }

        .sidebar_list li.disable {
            color: black;
        }

            .sidebar_list li.disable:before {
                color: black;
            }

.sidebar .colored {
    background: #0f87c5;
}

.sidebar_agenda {
    width: 100%;
    padding : 0 20px;
}

.sidebar .hide {
    display: none;
}
