﻿<section class="home">
    <ul>
        <li class="home_item done"><span class="home_item_title">Atol Sébastien Lefrais Associé</span><span class="home_item_sub">34 cours Kennedy, 35000 RENNES</span><span class="home_item_time">8:30</span></li>
        <li class="home_item done"><span class="home_item_title">Le Grill</span><span class="home_item_sub">35 r Poullain Duparc, 35000 RENNES</span><span class="home_item_time">9:45</span></li>
        <li class="home_item done"><span class="home_item_title">Au Jardin d'Alicante</span><span class="home_item_sub">Zone Industrielle Sud Est 36 r Veyettes, 35000 RENNES</span><span class="home_item_time">11:00</span></li>
        <li class="home_item done"><span class="home_item_title">Gapaillard Cécile</span><span class="home_item_sub">11 quai Chateaubriand, 35000 RENNES</span><span class="home_item_time">12:15</span></li>
        <li class="home_item done"><span class="home_item_title">Restaurant 0 23</span><span class="home_item_sub">23 r de Saint Malo, 35000 RENNES</span><span class="home_item_time">14:00</span></li>

        <li class="home_item current" ng-click="valueUser('Spa Aquatonic')"><span class="home_item_title">Spa Aquatonic</span><span class="home_item_sub">Bât L centre Espace Performance, 35760 SAINT GRÉGOIRE</span><span class="home_item_time">15:15</span></li>
        <li class="home_item" ng-click="valueUser('Diury Marion')"><span class="home_item_title">Diruy Marion</span><span class="home_item_sub">123 r Antrain, 35700 RENNES</span><span class="home_item_time">17:00</span></li>
        <li class="home_item" ng-click="valueUser('Best of Gym')"><span class="home_item_title">Best of Gym</span><span class="home_item_sub">Zone Industrielle Sud Est 36 r Veyettes, 35000 RENNES</span><span class="home_item_time">18:15</span></li>
        <li class="home_item" ng-click="valueUser('Le Garden Rennes')"><span class="home_item_title">Le Garden Rennes</span><span class="home_item_sub">Zone Industrielle Sud Est 36 r Veyettes, 35000 RENNES</span><span class="home_item_time">19:30</span></li>
</ul>
</section>