﻿
<section class="activites">
    <ul>
        <li class="activites_item" ng-click="valueActivite('agence')"><img src="images/1.png" alt="" ><span>Agence de voyage</span></li>
        <li class="activites_item" ng-click="valueActivite('bar')"><img src="images/11.png" alt="" ><span>Bar</span></li>
        <li class="activites_item" ng-click="valueActivite('boucherie')"><img src="images/8.png" alt="" ><span>Boucherie</span></li>
        <li class="activites_item" ng-click="valueActivite('boulangerie')"><img src="images/12.png" alt="" ><span>Boulangerie</span></li>
        <li class="activites_item" ng-click="valueActivite('chaussure')"><img src="images/3.png" alt=""><span>Chaussures</span></li>
        <li class="activites_item" ng-click="valueActivite('coiffeur')"><img src="images/4.png" alt="" ><span>Coiffeur</span></li>
        <li class="activites_item" ng-click="valueActivite('fleuriste')"><img src="images/10.png" alt="" ><span>Fleuriste</span></li>
        <li class="activites_item" ng-click="valueActivite('garagiste')"><img src="images/14.png" alt="" ><span>Garagiste</span></li>
        <li class="activites_item" ng-click="valueActivite('habillement')"><img src="images/9.png" alt="" ><span>Habillement</span></li>
        <li class="activites_item" ng-click="valueActivite('hotel')"><img src="images/2.png" alt="" ><span>Hôtel</span></li>
        <li class="activites_item" ng-click="valueActivite('opticien')"><img src="images/5.png" alt="" ><span>Opticien</span></li>
        <li class="activites_item" ng-click="valueActivite('pharmacie')"><img src="images/7.png" alt="" ><span>Pharmacie</span></li>
        <li class="activites_item" ng-click="valueActivite('restaurant')"><img src="images/6.png" alt="" ><span>Restaurant</span></li>
        <li class="activites_item" ng-click="valueActivite('tabac')"><img src="images/13.png" alt="" ><span>Tabac</span></li>
    </ul>
</section>
