﻿<md-toolbar class="md-theme-light details">
    <div class="titrerubrique">
        <span>Mode de paiement</span>
    </div>
</md-toolbar>
<md-content class="detailcontent">
    <md-list>
        <md-list-item class="md-3-line" ng-repeat="item in firsttitle">
            <div ng-show="questionSwitch" style="width:{{item.pourcentage}}%;" class="statbarre"></div>
            <div class="md-list-item-text">
                <div class="stat">
                    <div class="titre">{{item.title}}</div>
                    <p>{{item.subtitle}}</p>
                </div>
               

            </div>
            
                 <md-switch aria-label="Switch" ng-model="questionSwitch" class="md-primary" md-no-ink >
                </md-switch>
           
            
            <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
    </md-list>
</md-content>
<md-toolbar class="md-theme-light details">
    <div class="titrerubrique">
        <span>Panier moyen</span>
        <div style="font-size:10px">Moyenne du secteur : {{paniermoyenactivite}}€</div>
    </div>
</md-toolbar>
<md-content style="padding-top:25px;padding-left:25px;padding-right:10px">
   
    <div layout>
        
        <md-slider flex min="{{paniermoyenmin}}" max="{{paniermoyenmax}}" md-discrete step="10" aria-label="red" id="red-slider" class="md-primary">
        </md-slider>
    </div>
</md-content>
<md-toolbar class="md-theme-light details">
    <h2 class="md-toolbar-tools titrerubrique">
        <span>Connexion</span>
    </h2>
</md-toolbar>
<md-content class="detailcontent">
    <md-list>
        <md-list-item class="md-3-line" ng-repeat="item in lasttitle">
            <div ng-show="questionSwitch" class="statbarre" style="width:{{item.pourcentage}}%;"></div>
            <div class="md-list-item-text">
                <div class="stat">
                    <div class="titre">{{item.title}}</div>
                    <p>{{item.subtitle}}</p>
                </div>


            </div>
            <md-switch aria-label="Switch" ng-model="questionSwitch" class="md-primary">
            </md-switch>
            <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
    </md-list>


    <style>
        .souscrire {
            margin-bottom: 20px;
            text-align: center;
            overflow: scroll;
        }

        .souscrire_item {
            display: inline-block;
            margin-top: 10px;
            width: 100%;
        }

        .souscrire_controls {
            bottom: 0;
            left: 0;
            right: 0;
            font-size: 0;
            text-align: center;
        }

        .souscrire_controls_item {
            display: inline-block;
            width: 100%;
            padding: 30px 0;
            text-transform: uppercase;
            font-family: "Lato";
            font-weight: 900;
            font-size: 10pt;
            letter-spacing: 3px;
            background: #F52167;
            color: white;
        }

        /*.contract_controls_item:last-child {
                    background: #0f87c5;
                }*/
    </style>

   

</md-content>
<div style="width:100%;overflow:hidden;">
       <div class="souscrire">
        <div class="souscrire_controls">
            <span class="souscrire_controls_item" ng-click="etapeOffre()">Suivant</span>
        </div>
    </div>

</div>
