﻿<div ng-cloak>
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Votre Offre">
                <md-content class="md-padding">
                    <md-card>
                        <div class="md-headline headerimg">
                            <div class="offretext">
                                <p style="font-weight: bold; font-size: 28px;">
                                    Offre TPE IP
                                </p>
                                <p style="font-size: 14px;">
                                    Avec cette offre TPE tout compris, l'installation, la formation et l'échange est inclus.<br />La demande d'autorisation est trois fois plus rapide grâce à la connexion IP.<br />Sans-contact pris en charge. Votre commission est de seulement <span style="font-size: 22px;font-weight: bold;">0.23%</span> par transaction.
                                </p>
                            </div>
                            <div class="offreprix">
                                <span style="font-size: 36px;font-weight: bold;">{{total}}</span><span style="font-size: 28px;font-weight: bold;">,00</span><span style="font-size: 22px;"> €</span><br />
                                LOCATION MENSUELLE HT<br />
                                Frais d'installation <span style="font-size: 30px;font-weight: bold;">{{frais}}</span><span style="font-size: 28px;font-weight: bold;">,00</span><span style="font-size: 18px;"> €</span>
                            </div>
                        </div>
                        <md-card-content style="padding: 0px !important;">
                            <md-toolbar class="md-theme-light details">
                                <div class="titrerubrique">
                                    <span>Configuration TPE</span>
                                </div>
                            </md-toolbar>
                            <md-content>
                                <span class="md-headline titre" style="padding-left: 25px;">Nombre TPE</span>
                                <md-content style="margin: 10px; padding:10px; padding-top: 30px;">
                                    <div layout>
                                        <md-slider flex min="1" max="10" md-discrete ng-model="nombreTPE" id="red-slider" class="md-primary">
                                        </md-slider>
                                    </div>
                                </md-content>
                                <md-divider></md-divider>
                                <md-list>
                                    <md-list-item class="md-3-line" ng-repeat="item in offre1">
                                        <div ng-show="questionSwitch" style="width:{{item.pourcentage}}%;" class="statbarre"></div>
                                        <div class="md-list-item-text">
                                            <div class="stat">
                                                <div class="titre">{{item.title}}</div>
                                                <p>{{item.subtitle}}</p>
                                            </div>
                                        </div>
                                        <md-switch aria-label="Switch" ng-model="questionSwitch" class="md-primary" ng-change="add(6,questionSwitch)">
                                        </md-switch>
                                    </md-list-item>
                                </md-list>
                            </md-content>
                        </md-card-content>
                    </md-card>
                </md-content>
            </md-tab>
            <md-tab label="Les Cartes">
                <md-content class="md-padding">
                    <md-content class="detailcontent">
                        <md-list>
                            <md-list-item class="md-2-line">
                                <div ng-show="questionSwitch" style="width:{{cartesCB.pourcentage}}%;" class="statbarre"></div>
                                <div class="md-list-item-text">
                                    <div class="stat">
                                        <div class="titre">{{cartesCB.title}}</div>
                                    </div>
                                </div>
                                <md-switch aria-label="Switch" ng-model="cartesCB.statut" class="md-primary">
                                </md-switch>
                            </md-list-item>
                        </md-list>
                        <md-list>
                            <md-list-item class="md-2-line" ng-repeat="item in typecartesCB" style="padding-left: 30px;">
                                <div ng-show="questionSwitch" style="width:{{item.pourcentage}}%;" class="statbarre"></div>
                                <div class="md-list-item-text">
                                    <div class="stat">
                                        <p>{{item.title}}</p>
                                    </div>
                                </div>
                                <md-switch aria-label="Switch" ng-model="item.statut" class="md-primary">
                                </md-switch>
                            </md-list-item>
                        </md-list>
                        <md-divider></md-divider>
                        <md-list>
                            <md-list-item class="md-2-line">
                                <div ng-show="questionSwitch" style="width:{{cartesVISA.pourcentage}}%;" class="statbarre"></div>
                                <div class="md-list-item-text">
                                    <div class="stat">
                                        <div class="titre">{{cartesVISA.title}}</div>
                                    </div>
                                </div>
                                <md-switch aria-label="Switch" ng-model="cartesVISA.statut" class="md-primary">
                                </md-switch>
                            </md-list-item>
                        </md-list>
                        <md-list>
                            <md-list-item class="md-2-line" ng-repeat="item in typecartesVISA" style="padding-left: 30px;">
                                <div ng-show="questionSwitch" style="width:{{item.pourcentage}}%;" class="statbarre"></div>
                                <div class="md-list-item-text">
                                    <div class="stat">
                                        <p>{{item.title}}</p>
                                    </div>
                                </div>
                                <md-switch aria-label="Switch" ng-model="item.statut" class="md-primary">
                                </md-switch>
                            </md-list-item>
                        </md-list>
                        <md-divider></md-divider>
                        <md-list>
                            <md-list-item class="md-2-line">
                                <div ng-show="questionSwitch" style="width:{{cartesMCI.pourcentage}}%;" class="statbarre"></div>
                                <div class="md-list-item-text">
                                    <div class="stat">
                                        <div class="titre">{{cartesMCI.title}}</div>
                                    </div>
                                </div>
                                <md-switch aria-label="Switch" ng-model="cartesMCI.statut" class="md-primary">
                                </md-switch>
                            </md-list-item>
                        </md-list>
                        <md-list>
                            <md-list-item class="md-2-line" ng-repeat="item in typecartesMCI" style="padding-left: 30px;">
                                <div ng-show="questionSwitch" style="width:{{item.pourcentage}}%;" class="statbarre"></div>
                                <div class="md-list-item-text">
                                    <div class="stat">
                                        <p>{{item.title}}</p>
                                    </div>
                                </div>
                                <md-switch aria-label="Switch" ng-model="item.statut" class="md-primary">
                                </md-switch>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </md-content>
            </md-tab>
            <md-tab label="Vos Options">
                <md-content class="md-padding">
                    <md-content class="detailcontent">
                        <md-list>
                            <md-list-item class="md-2-line" ng-repeat="item in options">
                                <div ng-show="questionSwitch" style="width:{{item.pourcentage}}%;" class="statbarre"></div>
                                <div class="md-list-item-text">
                                    <div class="stat">
                                        <div class="titre">{{item.title}}</div>
                                        <p>{{item.subtitle}}</p>
                                    </div>
                                </div>
                                <md-switch aria-label="Switch" ng-model="questionSwitch" class="md-primary" ng-change="addfrais(6,questionSwitch)">
                                </md-switch>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </md-content>
            </md-tab>
        </md-tabs>

        <style>
            .souscrire {
                margin-bottom:20px;
                text-align: center;
                overflow: scroll;
            }

            .souscrire_item {
                display: inline-block;
                margin-top: 10px;
                width: 100%;
            }

            .souscrire_controls {
                bottom: 0;
                left: 0;
                right: 0;
                font-size: 0;
                text-align: center;
            }

            .souscrire_controls_item {
                display: inline-block;
                width: 50%;
                padding: 30px 0;
                text-transform: uppercase;
                font-family: "Lato";
                font-weight: 900;
                font-size: 10pt;
                letter-spacing: 3px;
                background: #F52167;
                color: white;
            }

                /*.contract_controls_item:last-child {
                    background: #0f87c5;
                }*/
        </style>

        <div class="souscrire">        
            <div class="souscrire_controls">
                <span class="souscrire_controls_item" ng-click="afficheContract()">Souscrire</span>
            </div>
        </div>
    </md-content>
</div>